html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}
.about {
  font-size: 32pt;
  color: #f12973;
}
.banner {
  color: #f12973;
  margin-top: 40px;
  margin-bottom: 25px;
  text-align: center;
}
.banner .visible-xs-block img {
  width: 100%;
}
#projects .project {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  #projects .project {
    float: left;
    width: 50%;
  }
}
@media (min-width: 992px) {
  #projects .project {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 1200px) {
  #projects .project {
    float: left;
    width: 25%;
  }
}
#projects .project.expanded {
  display: none;
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  #projects .project.expanded {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  #projects .project.expanded {
    float: left;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  #projects .project.expanded {
    float: left;
    width: 100%;
  }
}
#projects .project.active {
  display: inline;
}
#projects img.thumbnail {
  margin: 10px 0 20px 0;
  border: 0;
  padding: 0;
  display: inline;
}
#projects .name {
  font-weight: 700;
  color: #f12973;
}
#projects .chapter {
  font-weight: 300;
  color: #f12973;
}
#engagement-avenues .avenue {
  margin: 20px 0;
}
#engagement-avenues h4 {
  color: #f12973;
}
#engagement-avenues a.call-to-action {
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  /* copied from AF site */
  border: 1px solid #ff1d5f;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #fab5ca;
  background-image: -webkit-linear-gradient(top, #fc6793, #ff2c6a);
  text-shadow: 0 1px 0 #ff0851;
  -webkit-background-clip: padding-box;
  padding: 20px 0px;
}
