<div id="engagement-avenues">
  <div class="avenue" id="submit-an-idea">
    <h4>Submit an Awesome Idea</h4>

    <p>
      What would you do with $1,000? We want to fund projects that delight people and spark discussion or that attempt something important in a new way. We fund beginners, small projects and experimenters with a dream or scheme. How can you use $1,000 to make your community or the world more Awesome?
    </p>

    <p>
      The application is short (we promise!) and will be submitted to your local chapter. Please check out your local chapter's page for more details.
    </p>

    <a href="http://www.awesomefoundation.org/submissions/new" target="_blank" class="btn btn-default call-to-action">Share an idea!</a>
  </div>

  <div class="avenue" id="join-us-join-us">
    <h4>Join a Local Chapter</h4>

    <p>
      Want to support local Awesome happening in your community? We're always looking for passionate folks to join our growing band of Awesome as micro-trustees. Be a part of an amazing network, and support members of your community in spreading their whimsy and delight!
    </p>

    <p>
      Most chapters meet once a month or every other month. Each chapter is independently run and has its own flavor, so check out your local chapter's page to get a feel for your local Awesome. If you're interested, please reach out to your local Dean for more info!
    </p>

    <a href="http://www.awesomefoundation.org/en/chapters" target="_blank" class="btn btn-default call-to-action">Find your chapter</a>
  </div>

  <div class="avenue" id="join-us-join-us">
    <h4>Start a Local Chapter</h4>

    <p>
      You just found out that The Awesome Foundation exists, and are super excited to get involved, and the nearest chapter is... a million miles away. Why not start your own local chapter? The chapter founders who take this on are generally interested in building community and rallying people around a cause. You'll need to get 9 other micro-trustees on board, and the rest is easy! We'll help set you up and be thrilled to welcome you as the newest chapter of Awesome.
    </p>

    <a href="mailto:join@awesomefoundation.org" class="btn btn-default call-to-action">Find your chapter</a>
  </div>
</div>
