<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="{{ site.description }}" name="description">
    <meta content="{{ site.copyright }}" name="copyright">
    <meta content="{{ site.title }}" name="DC.title">
    <meta content="{{ site.subject }}" name="DC.subject">
    <meta content="{{ site.creator }}" name="DC.creator">
    <meta content="{{ site.title }}" property="og:title">
    <meta content="{{ site.description }}" property="og:description">
    <meta content="{{ site.logo }}" property="og:image">
    <meta content="{{ site.url }}" property="og:url">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="false" http-equiv="imagetoolbar">
    <meta content="on" http-equiv="cleartype">
    <meta content="True" name="HandheldFriendly">
    <meta content="320" name="MobileOptimized">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:"index.html","" | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flat-ui/2.2.2/css/flat-ui.min.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/custom.css" | prepend: site.baseurl }}">

    <!-- Latest compiled and minified JavaScript -->
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/scripts/main.js"></script>

</head>
